<% provide :title, "#{@country.name} #{@category.name}" %>

<article class="view country-data-view">
  <h1 class="<%= "#{@category.slug}-1-bg" %> head-banner">
    <span class="category-name"><%= @category.name %></span> in <%= @country.name %>
  </h1>

  <div class="sub-content country-6-bg">
    <div class="main-column">
        <div class="block no-data" %>Placeholder for white div</div>
    </div>
  </div>
</article>
