<div class="block-link">
  <div class="block-link-icon <%= block_name %>">
    <div class="block-link-icon-bg <%= block_name %>"></div>
  </div>
  <div class="block-link-body">
    <h4 class="block-link-header"><%= t( "refinery.pages.home.block_links.#{block_name}.header" ) %></h4>
    <%= t( "refinery.pages.home.block_links.#{block_name}.body" ) %>
  </div>
</div>
