<%#= render '/refinery/content_page' %>

<section id="body_content" class="bulletin">
  <h1 id="body_content_title"><%= @page.title %></h1>

  <section id="body">
    <div class="inner">
      <% unless @page.content_for( 'aside' ).blank? %>
        <div class="aside"><%= raw( @page.content_for 'aside' ) %></div>
      <% end %>
      <%= raw( @page.content_for 'body' ) %>
    </div>
  </section>

  <% unless @page.content_for( 'appendix' ).blank? %>
    <section id="appendix">
      <div class="inner">
        <div class="appendix"><%= raw( @page.content_for 'appendix' ) %></div>
      </div>
    </section>
  <% end %>
</section>
