<% provide :title, 'Home' %>

<%#= render '/refinery/content_page' %>

<div class="carousel">
  <a href="<%= Imon::Application.routes.url_helpers.map_path %>">
    <span class="carousel-map">
      <span id="explore-map">Explore map</span>
    </span>
  </a>
</div>

<div class="what-we-do">
  <h2>We monitor and score...</h2>

  <ul>
    <li class="category-block">
      <a href="/access"><h3 class="access-4-bg">access</h3><span class="access-1-bg"><%= raw part_content( 'home', 'Access' ) %></span></a>
    </li>

    <li class="category-block">
    <a href="/control"><h3 class="control-4-bg">control</h3><span class="control-1-bg"><%= raw part_content( 'home', 'Control' ) %></span></a>
    </li>

    <li class="category-block">
    <a href="/activity"><h3 class="activity-4-bg">activity</h3><span class="activity-1-bg"><%= raw part_content( 'home', 'Activity' ) %></span></a>
    </li>
  </ul>
</div>
