<section class="block" data-ds-id="<%= api_block.id %>" data-ds-name="<%= api_block.admin_name %>" data-country-iso3="<%= @country.iso3_code %>" data-country-iso2="<%= @country.iso_code %>">
</section>
