development:
  adapter: postgresql
  encoding: unicode
  database: imon_dev
  pool: 5
  username: postgres
  password: postgres

test:
  adapter: postgresql
  encoding: unicode
  database: imon_test
  pool: 5
  username: postgres
  password: postgres

