<% data.group_by{|d| d.type}.each do |type, data| %>
  <% data.each do |datum| %>
    <div class="<%= type.pluralize.underscore.dasherize %>">
      <%= render partial: "data/#{datum.type.underscore}", locals: {datum: datum} %>
    </div>
  <% end %>
<% end %>
