<% if indicators.any? %>
<section class="indicators block">
  <dl>
    <dt><span>&nbsp;</span></dt>
    <dd class="indicators-label"><span>worst</span> <span>best</span></dd>

    <%= render partial: 'data/indicator', collection: indicators %>
  </dl>
</section>
<% end %>
