<% if indicators_filtering.any? %>
<div class="indicators indicators-<%= group.admin_name %>">
  <h2><%= group.public_name %></h2>
  <dl>
    <dt><span>&nbsp;</span></dt>
    <dd class="indicators-label">
    <span class="il0">No evidence of filtering</span>
    <span class="il1">Suspected filtering</span>
    <span class="il2">Selective filtering</span>
    <span class="il3">Substantial filtering</span>
    <span class="il4">Pervasive filtering</span>
    </dd>

    <%= render partial: 'data/indicator_filtering', collection: indicators_filtering %>

  </dl>
</div>
<% end %>
