<% under = indicator_filtering.percent < 0.6 %>
<dt>
  <span><%= link_to indicator_filtering.name, refinery::marketable_page_path('sources'), title: "Source: #{indicator_filtering.source.source_name}" %></span>
</dt>

<dd>
  <span class="indicator-bar-outer">
    <span data-value="<%= indicator_filtering.percent %>" style="width: <%= indicator_filtering.value * 1/4 * 100 %>%" class="indicator-bar-inner <%= "#{@category.slug}-1-bg" %>"></span>
  </span>
</dd>
