<section class="map partial">
  <div class="geomap" data-max-score="<%= @map_countries.order('score desc').first.score %>" data-countries-path="<%= countries_path %>" data-map-countries="<%= @map_countries.to_json %>"></div>

  <script id="popup-tmpl" type="text/x-jsrender">
    <div class="score-pill">
      <a href="<%= countries_path %>/{{:country_id}}" class="country-name">{{:name}}</a>
      <span class="imon-score">{{:score.toFixed(2)}}</span>
    </div>
  </script>
</section>

