<div class="score-pill" data-country-id="<%= country.id %>">
  <%= link_to country.name, Imon::Application.routes.url_helpers.category_country_path( country, category_slug: 'access' ), class: 'country-name', title: country.name %>
  <% if country.enough_data? %>
    <span class="header">score</span>
    <span class="imon-rank">#<%= country.rank %></span><span class="imon-score"><%= country.score.round(2) %></span><a href="javascript:void(0);" class="user-score"></a><a href="javascript:void(0);" class="user-rank"></a>
  <% end %>
</div>
