<div class="sidebar block">
<%= render partial: "countries/map", locals: { country: @country } %>

<%# specialized sidebar display no longer using the grouped partial %>
<dl>
  <% @country.data.in_sidebar.most_recent.each do |datum| %>
    <dt><%= datum.name %></dt>
    <dd><%= format_sidebar_value( datum ) %></dd>
  <% end %>
</dl>

<%#= render partial: "data/grouped", locals: {data: @country.data.in_sidebar.most_recent} %>
</div>
