<div class="sidebar block">
<%= render partial: "countries/map", locals: { country: @country } %>

<dl>
  <% @country.data.in_sidebar.most_recent.each do |datum| %>
    <dt><%= datum.name %></dt>
    <dd><%= format_sidebar_value( datum ) %></dd>
  <% end %>
</dl>

</div>
