<% provide :title, 'Country Thumb Cacher' %>
<style type="text/css">
  #cacheThumbs {
    display: inline-block;
    height: 256px;
    width: 256px;
  }
</style>

<h1>Country Thumb Cacher</h1>

<article class="view">
  <div id="cacheThumbs" data-map-countries="<%= @map_countries.to_json %>">
  </div>

  <img id="thumb" src="" />

  <div>
    <progress max="<%= @map_countries_count - 1 %>" value="0"><span></span></progress>

    <div id="imgSrc"></div>
  </div>

</article>

<% content_for :javascripts do %>
  <script src="//code.jquerygeo.com/jquery.geo-1.0.0-rc1.min.js"></script>
  <script src="/cache_thumbs.js"></script>
<% end %>

