<% provide :title, "Countries" %>

<h2>Countries</h2>
<ol>
    <% @countries.select{|c| !c.score.nil? }.sort_by{|c| c.score}.reverse.each do |country| %>
        <li><%= render :partial => 'shared/line_items/country', :object => country %></li>
    <% end %>
</ol>

<h2>Countries Without Scores</h2>
<ol>
    <% @countries.select{|c| c.score.nil? }.each do |country| %>
        <li><%= render :partial => 'shared/line_items/country', :object => country %></li>
    <% end %>
</ol>
<script>$(function() { weightSliders.init(); });</script>
