<% provide :title, 'Map' %>

<article class="view">
  <h1>Map &amp; Index</h1>

  <%= render partial: 'countries/map', object: @map_countries %>

  <div class="map-controls">
    <a href="javascript:void(0)" class="zoom-in" title="zoom in"></a>
    <a href="javascript:void(0)" class="zoom-out" title="zoom out"></a>
  </div>

  <div class="map-legend" style="display: none;">
  </div>

  <section class="map-index">
    <h1>Country Index</h1>

    <h2 class="country-1-fg">Country Scores</h2>

    <div class="map-pills-container" style="height: <%= @scored_countries.count * 36 %>px;">
      <ol class="scored-countries">
        <% @scored_countries.each do |country| %>
          <li style="top: <%= (country.rank - 1) * 36 %>px;"><%= render partial: 'countries/score_pill', locals: { country: country } %></li>
        <% end %>
      </ol>
    </div>
  </section>

</article>
