<% provide :title, 'Map' %>

<article class="view">
  <h1>Map &amp; Index</h1>

  <%= render partial: 'countries/map', object: @map_countries %>

  <section class="map-index">
    <h1>Country Index</h1>

    <h2 class="country-1-fg">Countries</h2>

    <ol class="scored-countries">
      <% @scored_countries.each do |country| %>
        <li><%= render partial: 'countries/score_pill', locals: { country: country } %></li>
      <% end %>
    </ol>
  </section>

</article>
