<% provide :title, @country.name %>


<article class="view country-data-view" data-country-id="<%= @country.id %>">
  <h1 class="country-1-bg head-banner">
    <%= @country.name %>
  </h1>
  <%= render partial: 'shared/widgets/category_selector' %>

  <div class="sub-content country-6-bg">
    <div class="main-column">
      <div class="update block">Placeholder for white div</div>
    </div>

  </div>
</article>
