<% provide :title, @country.name %>


<article class="view" data-country-id="<%= @country.id %>">
  <h1 class="country-1-bg"><%= @country.name %></h1>

  <div class="sub-content country-6-bg">
    <div class="main-column">
      <p class="update block">UPDATE:</p>
    </div>

    <div class="sidebar-column">
      <%= render partial: "countries/sidebar" %>
    </div>
  </div>
</article>
