<span class="country-name"><%= link_to( "#{country.name} ", country ) %></span>
<span class="score" data-score-desc="total-for-<%= country.id %>"><%= country.score.round( 2 ) unless country.score.nil? %></span>
