$black: #222;
$white: #fefefe;
$bright-gold: #cccd34;
$dark-gray: #444;
$gray: #777;
$light-gray: #aaa;
$vlight-gray: #f8f8f8;
$light-blue: #e2edef;

/* three colors of IM borg */
$violet: #617085; /* country */
$orange: #f15c23; /* access */
$cyan: #5ec1a5; /* control */
$gold: #aaa04e; /* activity */


