@mixin transition-height {
  -moz-transition: height .5s;
  -webkit-transition: height .5s;
  -o-transition: height .5s;
  -ms-transition: height .5s;
  transition: height .5s;
}

@mixin transition-transform {
  -moz-transition: transform .5s;
  -webkit-transition: transform .5s;
  -o-transition: transform .5s;
  -ms-transition: transform .5s;
  transition: transform .5s;
}

@mixin transition-bg {
  -moz-transition: background .5s;
  -webkit-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
  transition: background .5s;
}

