@import "colors";

.score-pill {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  display: inline-block;

  .header {
    display: none;
    margin-right: 8px;
    text-transform: uppercase;
  }

  .country-name, .imon-rank, .imon-score, .user-score, .user-rank {
    color: $violet;
    display: inline-block;
    height: 34px;
    padding-top: 9px;
    vertical-align: middle;
  }

  /* width of .country-name should be set by containing view */
  .country-name {
    background-color: $light-blue;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    padding-left: 1em;
    padding-right: 2em;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;

    &:hover {
      background: $violet;
      color: $white;
    }
  }

  .imon-rank, .imon-score, .user-score, .user-rank {
    text-align: center;
    width: 42px;
  }

  .imon-rank, .imon-score {
    background-color: $light-blue;
    border-radius: 0;
  }

  .imon-rank {
    font-size: 1.2em;
    font-weight: bold;
  }

  .user-score, .user-rank {
    background: $bright-gold url('gear.png') no-repeat;
    border-radius: 0 4px 4px 0;
    color: white;
    text-decoration: none;
    
    &.updated {
      background: $bright-gold;
    }

    &:hover {
      background: $light-blue url('gear.png') no-repeat -42px 0;
      color: transparent;
    }
  }

  .user-score.updated {
    border-radius: 0;
  }

  .user-rank {
    border-radius: 0 4px 4px 0;
    display: none;
    font-size: 1.2em;
    font-weight: bold;
    
    &.updated {
      display: inline-block;
    }
  }
}

h1 .score-pill {
  .header {
    display: inline;
  }

  .country-name {
    display: none;
  }

  .imon-rank, .imon-score {
    background-color: darken( $violet, 10% );
    color: $white;
  }

  .imon-rank {
    border-radius: 4px 0 0 4px;
  }
}

.score-pill.no-user {
  .imon-score {
    border-radius: 0 4px 4px 0;
  }
}
