table.accessibility {
  font-size: .7em;

  th {
    border-right: solid 1px #222;
    border-bottom: solid 1px #222;
    padding: .5em;
    border-top: solid 1px #222;
    
    &:first-child {
      border-left: solid 1px #222;
     
    }
  }
  
  tr.secondary th {
    border-left: none;
    border-top: none;
  }
  
  td {
    border-right: solid 1px #222;
    border-bottom: solid 1px #222;
    padding: .25em 1em;
    
    &:first-child {
    border-left: solid 1px #222;
      
    }
    &:not(:first-child) {
      text-align: center;
    }
  }
  
  caption {
    caption-side: bottom;
  }
  
  .blocked {
    background: #f15c23;
  }

  .accessible {
    background: #5ec1a5;
  }
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  table.accessibility {
    font-size: .6em;
    margin-left: -4em;
  }
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  table.accessibility {
    font-size: .7em;
  }
}


