/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.nouislider
 *= require_tree .
 */

/* apply a natural box layout model to all elements */
/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

@import "colors";

html {
  color: $black;
  font-family: Sans-Serif;
  font-size: 1em;
}

body {
  background: $dark-gray;
  margin: 0;
  padding: 0;
}

header {
  background: $white;
  margin: 0;

  nav {
    background: $black;

    ul {
      display: inline-block;
      margin: 0 0 0 2em;
      padding: .5em 0;

      li {
        color: $white;
        display: inline-block;
        font-size: .6em;
        font-weight: bold;
        list-style-type: none;
        margin: 0 .6em 0 0;
        text-transform: uppercase;

        a, a:visited {
          color: $white;
          text-decoration: none;
        }

        a:hover {
          color: #F15C23;
        }
      }
    }
  }

  $data-nav-right: 32px;

  .data-nav {
    margin: 1em $data-nav-right 0 0;
    position: absolute;
    right:0; 
    top: 32px;

    a, a:visited {
      background: $violet;
      color: $white;
      display: block;
      float: left;
      font-size: .8em;
      height: 34px;
      margin: 0 1px;
      padding: .6em .8em;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      width: 128px;

      &:hover {
        background: $light-blue;
        color: $black;
      }
    }

    .data-nav-countries {
      border-radius: .25em 0 0 .25em;
    }

    .map-link, .toggle-weight-sliders {
      width: 42px;
    }

    .map-link {
      background: $violet url('world-icon.png') no-repeat;

      &:hover {
        background: $light-blue url('world-icon.png') no-repeat -42px 0;
      }
    }

    .toggle-weight-sliders {
      background: $bright-gold url('gear.png') no-repeat;
      border-radius: 0 .25em .25em 0;

      &:hover {
        background: $light-blue url('gear.png') no-repeat -42px 0;
      }
    }
  }

  h1 { 
    display: inline-block;
    margin: 0 0 0 1em;
    margin-bottom: 0;
    margin-top: 0;

    .logo-image {
      background: url("imon_logo.png");
      display: inline-block;
      height: 64px;
      width: 240px;
    }

    .logo-image:hover {
      background-position: 0 -64px;
    }
  }

  .hidden {
      display: none;
  }

  #weight-sliders {
    background: $light-blue;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 3px 3px 10px #888;
    font-size: .8em;
    margin-top: -20px;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1em 2em;
    position: absolute;
    right: $data-nav-right + 1;
    z-index: 2;
  }
}

.main-content {
  background: $white;
  padding: 0;
}

.sub-content {
  padding: .5em 1em;
}

h2 {
  font-size: 1.1em;
}

.category-block > a > span {
  display: block;
}

footer {
  clear: both;
  margin: 0;
  height: 40px;

  .footer-logo {
    float: left;
    margin-top: 4px;
  }

  a.berkman-link {
    background: url("berkman_logo_small.png");
    display: inline-block;
    float: left;
    height: 32px;
    margin-top: 4px;
    width: 64px;
  }

  nav {
    text-align: center;

    ul {
      display: inline-block;
      margin: .5em 0;

      li {
        color: #fefefe;
        display: inline-block;
        font-size: .6em;
        font-weight: bold;
        list-style-type: none;
        margin: 0 1em;
        text-transform: uppercase;

        a, a:visited {
          color: #fefefe;
          text-decoration: none;
        }

        a:hover {
          color: #F15C23;
        }
      }
    }
  }

  .cc {
    color: $white;
    display: block;
    font-size: .8em;
    text-align: center;

    a, a:visited {
      color: $white;
      text-decoration: none;
    }

    a:hover {
      color: #F15C23;
    }
  }
}
