@import "colors";
@import "mixins";

.category-select {
  left: 0;
  position: absolute;
  top: 0;

  ul {
    list-style: none;
  }
}


.category-selector {
  height: 0;
  overflow: hidden;
  position: absolute;
  right: 32px;
  top: 120px;
  z-index: 1;

  &.expanded {
    height: auto;
  }

  ul {
    display: block;
    margin: 0;

    li {
      display: inline-block;
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center;

      a, a:visited {
        border: solid 2px $white;
        color: $white;
        display: block;
        font-size: .8em;
        height: 34px;
        padding: .6em .8em;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        width: 96px;

        &:hover {
          color: $black;
        }
      }

      a.access {
        background: $orange;
        &:hover {
          background: saturate( lighten( $orange, 20% ), 20% );
        }
      }

      a.control {
        background: $cyan;
        &:hover {
          background: saturate( lighten( $cyan, 20% ), 20% );
        }
      }

      a.activity {
        background: $gold;
        &:hover {
          background: saturate( lighten( $gold, 20% ), 20% );
        }
      }
    }
  }
}


