@import "colors";

.country-0-bg {
  background-color: darken( $violet, 10% );
}

.country-0-fg {
  color: darken( $violet, 10% );
}

.access-0-bg {
  background-color: darken( $orange, 10% );
}

.access-0-fg {
  color: darken( $orange, 10% );
}

.control-0-bg {
  background-color: darken( $cyan, 10% );
}

.control-0-fg {
  color: darken( $cyan, 10% );
}

.activity-0-bg {
  background-color: darken( $gold, 10% );
}

.activity-0-fg {
  color: darken( $gold, 10% );
}

.country-1-bg {
  background-color: $violet;
}

.country-1-fg {
  color: $violet;
}

.access-1-bg {
  background-color: $orange;
}

.access-1-fg {
  color: $orange;
}

.control-1-bg {
  background-color: $cyan;
}

.control-1-fg {
  color: $cyan;
}

.activity-1-bg {
  background-color: $gold;
}

.activity-1-fg {
  color: $gold;
}

.country-2-bg {
  background-color: lighten( $violet, 10% );
}

.country-2-fg {
  color: lighten( $violet, 10% );
}

.access-2-bg {
  background-color: lighten( $orange, 10% );
}

.access-2-fg {
  color: lighten( $orange, 10% );
}

.control-2-bg {
  background-color: lighten( $cyan, 10% );
}

.control-2-fg {
  color: lighten( $cyan, 10% );
}

.activity-2-bg {
  background-color: lighten( $gold, 10% );
}

.activity-2-fg {
  color: lighten( $gold, 10% );
}

.country-3-bg {
  background-color: saturate( lighten( $violet, 10% ), 10% );
}

.country-3-fg {
  color: saturate( lighten( $violet, 10% ), 10% );
}

.access-3-bg {
  background-color: saturate( lighten( $orange, 10% ), 10% );
}

.access-3-fg {
  color: saturate( lighten( $orange, 10% ), 10% );
}

.control-3-bg {
  background-color: saturate( lighten( $cyan, 10% ), 10% );
}

.control-3-fg {
  color: saturate( lighten( $cyan, 10% ), 10% );
}

.activity-3-bg {
  background-color: saturate( lighten( $gold, 10% ), 10% );
}

.activity-3-fg {
  color: saturate( lighten( $gold, 10% ), 10% );
}

.country-4-bg {
  background-color: saturate( lighten( $violet, 20% ), 20% );
}

.country-4-fg {
  color: saturate( lighten( $violet, 20% ), 20% );
}

.access-4-bg {
  background-color: saturate( lighten( $orange, 20% ), 20% );
}

.access-4-fg {
  color: saturate( lighten( $orange, 20% ), 20% );
}

.control-4-bg {
  background-color: saturate( lighten( $cyan, 20% ), 20% );
}

.control-4-fg {
  color: saturate( lighten( $cyan, 20% ), 20% );
}

.activity-4-bg {
  background-color: saturate( lighten( $gold, 20% ), 20% );
}

.activity-4-fg {
  color: saturate( lighten( $gold, 20% ), 20% );
}

.country-5-bg {
  background-color: saturate( lighten( $violet, 30% ), 40% );
}

.country-5-fg {
  color: saturate( lighten( $violet, 30% ), 40% );
}

.access-5-bg {
  background-color: saturate( lighten( $orange, 30% ), 40% );
}

.access-5-fg {
  color: saturate( lighten( $orange, 30% ), 40% );
}

.control-5-bg {
  background-color: saturate( lighten( $cyan, 30% ), 40% );
}

.control-5-fg {
  color: saturate( lighten( $cyan, 30% ), 40% );
}

.activity-5-bg {
  background-color: saturate( lighten( $gold, 30% ), 40% );
}

.activity-5-fg {
  color: saturate( lighten( $gold, 30% ), 40% );
}

.country-6-bg {
  background-color: saturate( lighten( $violet, 50% ), 90% );
}

.country-6-fg {
  color: saturate( lighten( $violet, 50% ), 90% );
}

.access-6-bg {
  background-color: saturate( lighten( $orange, 50% ), 90% );
}

.access-6-fg {
  color: saturate( lighten( $orange, 50% ), 90% );
}

.control-6-bg {
  background-color: saturate( lighten( $cyan, 50% ), 90% );
}

.control-6-fg {
  color: saturate( lighten( $cyan, 50% ), 90% );
}

.activity-6-bg {
  background-color: saturate( lighten( $gold, 50% ), 90% );
}

.activity-6-fg {
  color: saturate( lighten( $gold, 50% ), 90% );
}
