@import "colors";

@mixin transition {
  -moz-transition: height 1s;
  -webkit-transition: height 1s;
  -o-transition: height 1s;
  -ms-transition: height 1s;
  transition: height 1s;
}

.countries-nav-list {
  height: 0;
  overflow: auto;
  position: absolute;
  right: 32px + 42px + 128px - 16px + 5px;
  text-align: right;
  top: 82px;
  @include transition;
  width: 256px + 16px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a, a:visited {
    background: $violet;
    border-top: solid 2px $white;
    color: $white;
    display: block;
    font-size: .8em;
    height: 34px;
    margin: 0;
    padding: .6em .8em;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    width: 256px;

    &:hover {
      background: $light-blue;
      color: $black;
    }
  }
}
