// Place all the styles related to the Countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.country-name {
  color: #676767;
  white-space: nowrap;

  a, a:visited {
    color: #676767;
    text-decoration: none;
  }

  a:hover {
    color: #F15C23;
  }
}

.country-description {
}

.categories {
  th {
    text-align: left;
  }

  td {
    padding: 0 .5em;
  }

  a, a:visited {
    color: #676767;
    display: inline-block;
    font-size: .75em;
    font-weight: bold;
    margin-bottom: .3em;
    text-transform: uppercase;
    text-decoration: none;
  }

  a:hover {
    color: #F15C23;
  }
}

.countries {
  padding-top: 2em;

  h1 {
    font-size: 1.4em;
    font-weight: bold;
    white-space: nowrap;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
    font-style: italic;
  }
}
.indicators {
    .indicator-bar-outer, .indicator-bar-inner {
      height: 10px;
      border-radius: 5px;
    }
  .indicator-bar-outer {
      width: 300px;
      background-color: #DDD;
      display: inline-block;
  }
  li {
    list-style-type: none;
  }
  li:nth-child(3n+1) .indicator-bar-inner {
      background-color: #5ec1a5;
  }
  li:nth-child(3n+2) .indicator-bar-inner {
      background-color: #f15c23;
  }
  li:nth-child(3n+3) .indicator-bar-inner {
      background-color: #aaa04e;
  }
}
