// Place all the styles related to the Countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.country-name {
  color: #676767;

  a, a:visited {
    color: #676767;
    text-decoration: none;
  }

  a:hover {
    color: #F15C23;
  }
}

.country-description {
}

.categories {
  th {
    text-align: left;
  }

  td {
    padding: 0 .5em;
  }

  a, a:visited {
    color: #676767;
    display: inline-block;
    font-size: .75em;
    font-weight: bold;
    margin-bottom: .3em;
    text-transform: uppercase;
    text-decoration: none;
  }

  a:hover {
    color: #F15C23;
  }
}
