// Place all the styles related to the Countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.country-name {
  color: #676767;
  white-space: nowrap;

  a, a:visited {
    color: #676767;
    text-decoration: none;
  }

  a:hover {
    color: #F15C23;
  }
}

.country-description {
}

.categories {
  th {
    text-align: left;
  }

  td {
    padding: 0 .5em;
  }

  a, a:visited {
    color: #676767;
    display: inline-block;
    font-size: .75em;
    font-weight: bold;
    margin-bottom: .3em;
    text-transform: uppercase;
    text-decoration: none;
  }

  a:hover {
    color: #F15C23;
  }
}

.countries.index .view {
  padding: 0 1em 1em 1em;

  ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: .25em 0;
    }
  }
}

/* countries#show & country_categories#show */
.country-data-view {
  & > h1 {
    color: $white;
    font-size: 1.6em;
    font-weight: normal;
    margin: 0;
    padding: 2.5em 2em 1em 2em;
    position: relative;

    .category-name {
      font-weight: bold;
    }

    .score-pill {
      bottom: 2.5em;
      left: 50%;
      position: absolute;
    }
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
    font-style: italic;
  }

  a {
    color: $violet;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $orange;
      text-decoration: underline;
    }
  }

  .main-column {
    display: inline-block;
    vertical-align: top;
    width: 65%;
  }

  .sidebar-column {
    display: inline-block;
    margin-left: 2%;
    vertical-align: top;
    width: 32%;
  }

  .block {
    background: $white;
    border-radius: .5em;
    margin: .5em 0;
    min-height: 12em;
    padding: .5em;
  }

  /* specific datum block styles */

  .sidebar {
    padding: 1em .5em;

    .geomap {
      height: 16em;
      position: relative;
    }

    dl {
      font-size: .7em;
      margin: 1em 0 0 0;
    }

    dt, dd {
      display: inline;
    }

    dt {
      font-weight: bold;
    }

    dt:before {
      content: "";
      display: block;
      margin-bottom: .5em;
    }

    dd {
      float: right;
      margin: 0;
    }
  }

  .indicators {
    dl {
      margin: -.25em 0 0 0;
    }

    dt, dd {
      display: inline;
      margin: 0;
    }

    dt {

    }

    dt span {
      color: $gray;
      display: inline-block;
      font-size: .7em;
      text-align: right;
      width: 46%;
    }

    dt:before {
      content: "";
      display: block;
      margin-bottom: .25em;
    }

    .indicator-bar-outer, .indicator-bar-inner {
      border-radius: 5px;
      height: 1.5em;
    }

    .indicator-bar-outer {
      background-color: #DDD;
      display: inline-block;
      margin-left: 1%;
      vertical-align: top;
      width: 51%;
    }

    .indicator-bar-inner {
      display: inline-block;
    }
  }
}

/* end */

.countries.map {
  $sectionTop: 128px;
  $sectionBreak: 320px;

  min-width: 800px;
  
  header {
    height: 128px;
    position: relative;
    z-index: 1;
  }

  .view h1 {
    display: none;
  }

  .geomap {
    background: $light-blue;
    bottom: 40px;
    left: 0;
    position: fixed;
    right: $sectionBreak;
    top: $sectionTop;

    .geo-label {
      background: $white;
      border: solid 2px $violet;
      border-radius: .25em;
      padding: .5em;
    }
  }

  .map-index {
    background: $white;
    bottom: 40px;
    font-size: .8em;
    overflow: auto;
    padding-left: .5em;
    position: fixed;
    right: 0;
    top: $sectionTop;
    width: $sectionBreak;

    h2 {
      text-transform: uppercase;
    }

    ol, ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: .25em 0;
      }
    }

    .score-pill .country-name {
      width: $sectionBreak - 160px;
    }
  }

  footer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
  }
}
