@import "colors";

.herdict-fetcher {
  .accessible {
    color: #693;
  }

  .inaccessible {
    color: #f60;
  }

  ul {
    font-size: .8em;
    list-style-type: none;
    margin-top: 0;
    padding-left: 1em;
  }

  .test-site {
    display: none;
  }

  .topitems {
    ul.view-toggle {
      display: none;
    }

    ul.topitems-list:last-child {
      display: none;
    }

    li {
      margin: .25em 0;
    }

    .explore-navigation-link, .explore-navigation-link:hover, .explore-navigation-link:active {
      color: $violet;
      cursor: default;
      text-decoration: none;
    }
  }
}
