@import "colors";

.herdict-quickstats-fetcher, .herdict-fetcher {
  font-size: .7em;

  .accessible {
    color: #693;
  }

  .inaccessible {
    color: #f60;
  }

  h2, h4 {
    text-transform: uppercase;
  }

  h2 {
    color: $gray;
  }

  h4 {
    color: $light-gray;
    margin-bottom: 0;
  }

  ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 1em;
  }
}

.herdict-quickstats-fetcher {
  .test-site {
    display: none;
  }
}

.herdict-fetcher {
  .topitems {
    ul.view-toggle {
      display: none;
    }

    ul.topitems-list:last-child {
      display: none;
    }

    li {
      margin: .25em 0;
    }

    .explore-navigation-link, .explore-navigation-link:hover, .explore-navigation-link:active {
      color: $violet;
      cursor: default;
      text-decoration: none;
    }
  }
}
