@import "colors";

body.home {
  .carousel {
    background: darken( $violet, 10% );
    height: 400px;
    overflow: hidden;
    position: relative;

    a.carousel-item {
      display: inline-block;
      height: 400px;
      overflow: hidden;
      width: 800px;

      .font-size-large {
        font-size: large;
      }

      .font-size-small {
        font-size: small;
      }

      .text-align-center {
        text-align: center;
      }

      .text-align-right {
        text-align: right;
      }
    }

    a.carousel-item, a.carousel-item:visited {
      color: $light-gray;
    }

    a, a:visited {
      text-decoration: none;
    }
  }

  h2 {
    color: lighten( $gray, 10% );
    font-size: 1.8em;
    font-style: italic;
    font-weight: normal;
  }

  .what-we-do {
    display: inline-block;
    margin: 0 2em;
    padding-bottom: 5em;
    vertical-align: top;
    width: 15em * 3;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      vertical-align: top;
      width: 14em;
    }

    a {
      text-decoration: none;
    }

    a > span {
      display: block;
    }

    h3 {
      color: darken( $gray, 20% );
      font-weight: normal;
      height: 2em;
      margin: 0;
      padding: .6em;
      text-transform: uppercase;
    }

    p {
      color: darken( $gray, 20% );
      font-size: 1em;
      font-weight: bold;
      height: 6em;
      margin: 0;
      padding: .6em;
    }
  }

  .trending {
    margin-top: 2em;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      list-style-type: none;
      margin: 0 .5em 1em .5em;
      width: auto;

      a, a:visited {
        color: $violet;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          color: $orange;
        }
      }
    }
  }

  section.twitter {
    background: $dark-gray;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    display: inline-block;
    font-size: .8em;
    margin-top: 1em;
    padding: 1em 1em 2em 1em;
    vertical-align: bottom;
    width: 15em * 2;

    h1 {
      color: $gray;
      margin-top: 0;
      text-transform: uppercase;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      color: darken( $white, 20% );
      font-size: .9em;
      line-height: 1.5em;
      margin: 1.5em 0;
    }

    a, a:visited {
      color: $violet;
      text-decoration: none;

      &:hover {
        color: $orange;
      }
    }

    .follow {
      background: url("imon_logo_twitter.png") no-repeat right;
      display: inline-block;
      float: right;
      height: 32px;
      padding-right: 40px;
      padding-top: 8px;

      span {
        color: $gray;
        font-weight: bold;
        margin-right: .5em;
      }
    }
  }
}

