@import "colors";

.read_more{
  bottom: 15px;
}
.blog_post{
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.refinery-blog-posts, .refinery-blog-categories {
  .main-content {
    strong {
      display: block;
    }

    header {
      h1 {
        font-size: 1.6em !important;
        margin-left: 0 !important;
        text-transform: none !important;
      }

      .details {
        color: $black !important;
      }
    }

    #show_blog_post .flash_notice {
      display: none;
    }

    .caption {
      max-width: 100%;
    }

    .alignright, [data-align="alignright"] {
      display: inline;
      float: right;
      margin-left: 1.625em;
    }

    .aligncenter, [data-align="aligncenter"] {
      margin: 0 auto;
    }

    img {
      max-width: 100%;
    }

    #comments {
      .avatar {
        float: left;
        margin: 0 .4em;
      }

      .field {
        margin: .2em 0;
      }

      label {
        display: inline-block;
        width: 6em;
      }
    }
  }

  ul#blog_posts, #blog_archive_widget ul, ul#categories {
    font-size: .8em;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: .2em 0;
    }
  }
}

