@import "colors";
@import "mixins";

.bulletin {
  #body {
    .aside {
      float: right;
      margin-top: 2em;
      width: 40%;

      img {
        width: 100%;
        height: auto;
      }
    }

    img.image-align-left, img.image-align-right {
        width: 50%;
        height: auto;
    }
  }

  #appendix {
    display: block;
    background: $white;
    border-radius: .5em;
    margin: .5em 0;
    min-height: 12em;
    padding: .5em;
    vertical-align: top;

    iframe {
      width: 100% !important;
    }
  }
}
