@import "colors";

.refinery-pages.show .main-content, .refinery-blog-posts .main-content, .refinery-blog-categories .main-content {
  background: lighten( $violet, 40% );


  #body_content a, #body_content a:visited {
    color: $violet;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $orange;
      text-decoration: underline;
    }
  }

  h1#body_content_title {
    background: $violet;
  }

  /* Hide old category sections for now */
  section#access, section#control, section#activity {
    display: none;
  }

  .body-margin {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    #body {
      background: $white;
      border-bottom-right-radius: .5em;
      border-bottom-left-radius: .5em;
      display: inline-block;
      width: 100%;
      margin: auto;
      margin-bottom: .5em;
      min-height: 12em;
      padding: .5em;
      vertical-align: top;
    }
  }

  #side_body, #sidebar {
    display: none;
    background: $white;
    border-radius: .5em;
    margin: .5em 0;
    min-height: 12em;
    padding: .5em;
    vertical-align: top;
    width: 32%;
  }

  header {
    h1 {
      color: $orange;
      font-size: 1em;
      margin-bottom: .1em;
      text-transform: uppercase;
    }

    .details {
      color: $orange;
      font-size: .8em;

      .blog_author {
        font-weight: bold;
      }
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .refinery-pages.show .main-content, .refinery-blog-posts .main-content, .refinery-blog-categories .main-content {
    .body-margin {
      width: 65%;

      #body {
        padding: 1em 8em;
      }
    }
  }
}

.refinery-pages.show.layout-report {
  .data-nav-countries {
    color: $white;
    display: inline-block;
    font-size: 16pt;
    position: absolute;
    right: 2em;
    top: 3.25em;
  }

  .countries-nav-list {
    right: 2em;
    top: 8em;
  }
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #body {
    font-size: 16px;
  }

  .refinery-pages.show.layout-report {
    .data-nav-countries {
      right: 20%;
    }

    .countries-nav-list {
      right: 20%;
    }
  }
}


