@import "colors";

.refinery-pages.show .main-content, .refinery-blog-posts .main-content, .refinery-blog-categories .main-content {
  background: lighten( $violet, 40% );

  #body_content a, #body_content a:visited {
    color: $violet;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $orange;
      text-decoration: underline;
    }
  }

  h1#body_content_title {
    background: $violet;
  }

  #body {
    background: $white;
    border-radius: .5em;
    display: inline-block;
    margin: .5em;
    min-height: 12em;
    padding: .5em;
    vertical-align: top;
    width: 65%;
  }

  #side_body, #sidebar {
    display: inline-block;
    background: $white;
    border-radius: .5em;
    margin: .5em 0;
    min-height: 12em;
    padding: .5em;
    vertical-align: top;
    width: 32%;
  }

  header {
    h1 {
      color: $orange;
      font-size: 1em;
      margin-bottom: .1em;
      text-transform: uppercase;
    }

    .details {
      color: $orange;
      font-size: .8em;

      .blog_author {
        font-weight: bold;
      }
    }
  }
}

.refinery-pages.show-access .main-content h1#body_content_title {
  background: $orange;
}

.refinery-pages.show-control .main-content h1#body_content_title {
  background: $cyan;
}

.refinery-pages.show-activity .main-content h1#body_content_title {
  background: $gold;
}

.refinery-pages.show.layout-report {
  .data-nav-countries {
    color: $white;
    display: inline-block;
    font-size: 16pt;
    position: absolute;
    right: 20%;
    top: 3.25em;
  }

  .countries-nav-list {
    right: 20%;
    top: 8em;
  }

  .main-content {
    .body-margin {
      width: 65%;
      margin-left: auto;
      margin-right: auto;

      #body {
        width: 100%;
        margin: auto;
        margin-top: .5em;
        margin-bottom: .5em;
      }
    }
  }
}

