@import "colors";
@import "mixins";

.bulletin {
  #body_content {
    padding-top: 2em !important;
  }

  h1#body_content_title {
    background: $cyan !important;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    font-size: 2.2em;
    text-align: center;
    white-space: normal !important;

    span {
      display: inline-block;
    }

    img {
      display: inline-block;
      height: auto;
      margin-bottom: .2em;
      vertical-align: middle;
      width: 48px;
    }
  }

  #body {
    img {
      height: auto;
      width: 100%;
    }

    img.image-align-center {
      display: block;
      margin: 0 auto;
      max-width: 480px;
    }

    .aside {
      float: right;
      margin-top: 2em;
      width: 40%;

    }

    img.image-align-left, img.image-align-right {
        width: 50%;
        height: auto;
    }

    time {
      font-style: italic;
    }
  }

  #appendix {
    display: block;
    background: $white;
    border-radius: .5em;
    margin: .5em 0;
    min-height: 12em;
    padding: .5em;
    vertical-align: top;
  }

  iframe {
    width: 100% !important;
  }

}

.bulletin {
  #bulletin_list {
    background: $white;
    border-radius: .5em;
    display: inline-block !important;
    margin: .5em 0;
    min-height: 12em;
    padding: .5em 1em;
    vertical-align: top;
    width: 100% !important;

    h2 {
      color: $cyan;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: .5em 0;
      }


      a, a:visited {
        color: $violet;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          color: $orange;
          text-decoration: underline;
        }
      }

      time {
        display: block;
      }
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .bulletin {
    #bulletin_list {
      display: block !important;
      padding: .5em .5em;
      position: absolute;
      top: 8.2em;
      left: .5em;
      width: 16.75% !important;

      ul {
        font-size: .8em;
      }
    }
  }
}
