.bulletin {
  #body {
    .graph {
      float: right;
      width: 25%;

      img {
        width: 100%;
        height: auto;
      }
    }

    .table {
      clear: right;
      float: right;
    }

  }
}
