@mixin range-track( $border, $border-radius, $width, $height ) {
  /* color the track
   * firefox/webkit gradient done in JavaScript */
  &::-moz-range-track {
    border: $border;
    border-radius: $border-radius;
  }  
  &::-ms-fill-upper, &::-ms-fill-lower {
    border: $border;
    border-radius: $border-radius;
  }
  &::-ms-track {
    border: none;
    color: transparent;
  }
  &.webkit-track {
    border: $border;
    border-radius: $border-radius;
    -webkit-appearance: none;
  }

  /* size the slider */
  &::-moz-range-track {
    height: $height;
  }
  &::-ms-track {
    height: $height;
  }

  box-sizing: content-box;
  height: $height;
  width: $width;    
}

@mixin range-thumb( $background, $border, $border-radius, $width, $height ) {
  /* style the thumb
   * can all be same but must be on seperate lines
   * or browsers won't accept them */
  &::-moz-range-thumb {
    background: $background;
    border: $border;
    border-radius: $border-radius;
    height: $height;
    width: $width;
  }
  &::-ms-thumb {
    background: $background;
    border: $border;
    border-radius: $border-radius;
    height: $height;
    width: $width;
  }
  &::-webkit-slider-thumb {
    background: $background;
    border: $border;
    border-radius: $border-radius;
    height: $height;
    width: $width;
    -webkit-appearance: none;
  }  
}

input[type="range"] {
  @include range-track( 2px solid #444, 8px, 256px, 12px );
  @include range-thumb( #469948, 2px solid #dedede, 0, 16px, 16px );
}
