@import "colors";

@mixin range-track( $border, $border-radius, $width, $height ) {
  /* color the track
   * firefox/webkit gradient done in JavaScript */
  &::-moz-range-track {
    border: $border;
    border-radius: $border-radius;
  }  
  &::-ms-fill-upper, &::-ms-fill-lower {
    border: $border;
    border-radius: $border-radius;
  }
  &::-ms-track {
    border: none;
    color: transparent;
  }
  &.webkit-track {
    border: $border;
    border-radius: $border-radius;
    -webkit-appearance: none;
  }

  /* size the slider */
  &::-moz-range-track {
    height: $height;
  }
  &::-ms-track {
    height: $height * 2;
  }

  box-sizing: content-box;
  height: $height;
  width: $width;    
}

@mixin range-thumb( $background, $border, $border-radius, $width, $height ) {
  /* style the thumb
   * can all be same but must be on seperate lines
   * or browsers won't accept them */
  &::-moz-range-thumb {
    background: $background;
    border: $border;
    border-radius: $border-radius;
    height: $height;
    width: $width;
  }
  &::-ms-thumb {
    background: $background;
    border: $border;
    border-radius: $border-radius;
    height: $height;
    width: $width * 2/3;
  }
  &::-webkit-slider-thumb {
    background: $background;
    border: $border;
    border-radius: $border-radius;
    height: $height;
    width: $width;
    -webkit-appearance: none;
  }  
}

/* placement & color of this panel is in application.css.scss */
#weight-sliders {
  h3 {
    font-size: 1.2em;
  }

  h3, h4 {
    font-weight: bold;
    text-transform: uppercase;
    width: 320px;
  }

  h4 {
    text-align: right;
  }

  p {
    margin: 0;
    padding: 0;
    width: 432px;
  }

  a, a:visited {
    color: $violet;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $orange;
      text-decoration: underline;
    }
  }
  .importance-label {
    font-size: .8em;
    margin-right: -1.25em;
    text-align: right;

    span {
      display: inline-block;
      text-align: center;
    }

    .importance {
      font-size: .8em;
      width: 8em;
    }

    .less, .more {
      font-weight: bold;
      width: 3em;
    }
  }
}

ul.weight-sliders-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 4px;
    padding: 0;
    white-space: nowrap;
  }

  label {
    display: inline-block;
    margin-right: 1em;
    text-align: right;
    width: 320px;
  }

  .weight-slider {
    @include range-track( none, 8px, 128px, 8px );
    @include range-thumb( $gold, 2px solid #dedede, 8px, 16px, 16px );

    margin: 0;
    padding: 0;
  }
}
