<nav class="category-selector">
  <ul>
    <li><%= link_to( "access", access_path( @country ) ) %></li>
    <li><%= link_to( "control", control_path( @country ) ) %></li>
    <li><%= link_to( "activity", activity_path( @country ) ) %></li>
  </ul>
</nav>

