<nav class="category-selector">
    <ul>
        <% @country.categories.each do |category| %>
            <li><%= link_to category.name, category_country_path(@country, :category_slug => category.slug) %></li>
        <% end %>
    </ul>
</nav>

