<nav class="category-selector">
  <ul>
    <li><%= link_to( "access", access_path( @country ), @category != nil && @category.name == 'Access' ? { class: 'selected' } : nil ) %></li>
    <li><%= link_to( "control", control_path( @country ), @category != nil && @category.name == 'Control' ? { class: 'selected' } : nil ) %></li>
    <li><%= link_to( "activity", activity_path( @country ), @category != nil && @category.name == 'Activity' ? { class: 'selected' } : nil ) %></li>
  </ul>
</nav>

