<aside class="country-data">

<label class="country-data-select">
  <span>Country</span>
  <select name="id">
    <% @country_names.each do |c| %>
      <option value="<%= country_path(c) %>" <%= 'selected="selected' if c == @country %> ><%= c.name %></option>
    <% end %>
  </select>
</label>

  <div class="country-wikipedia" data-country-name="<%= @country.name %>">
  </div>
</aside>
